<div id="activities-list">
  <% if activities.empty? %>
    <p>You haven't recorded any times yet!</p>

  <% else %>
    <% activities.each do |activity| %>
      <ul class="list-inline activity" data-activity-id="<%= activity.id %>">
        <li><strong>Date:</strong> <%= l(activity.date, format: :short ) %></li>
        <li><strong>Time:</strong> <%= activity.time_taken_in_minutes %></li>
        <%= link_to "Delete", exercise_activity_path(exercise_id: exercise.id, id: activity.id), method: :delete, remote: true, class: "btn btn-danger" %>
      </ul>
    <% end %>
  <% end %>
</div>

<!-- Button trigger new activities modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newActivityModal">
  New activity
</button>

<%= render '/activities/activities_form', exercise: exercise, activity: activity %>
