<div class="dashboard-container" style="margin-left: 0px; margin-right: 0px;">
  <div class="column-25" style="border: 5px black solid">
    <ul class="list-inline text-center">
      <li>
        <%= link_to "Create new exercise", new_exercise_path, class: "btn btn-primary" %>
      </li>
      <li>
        <%= link_to "Back", root_path, class: "btn btn-primary" %>
      </li>
    </ul>
    <% @exercises.each do |exercise| %>
      <div class="exercise">
        <div class="exercise-body">
          <p><%= exercise.title %></p>
        </div>
        <div class="exercise-btns">
          <ul class="list-inline">
            <li><%= link_to "Edit", edit_exercise_path(exercise), class: "btn btn-primary" %></li>
            <li><%= link_to "Delete", exercise_path(exercise), method: :delete %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="column-75" style="border: 5px black solid">
    <div class="primary-information card">
      <div id="chart"><%= line_chart @data, xtitle: "Date", ytitle: "Time taken" %></div>
    </div>
    <div class="secondary-information">
      <div class="column-50 card" style="margin-right: 10px;">
        <h2>Left table</h2>
        <h4>(Progress to a goal)</h4>
      </div>
      <div class="column-50 card" style="margin-left: 10px;">
        <h2>Right table</h2>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#chart").on("chartkick:before", function (e) {
        yAxis: {
          labels: {
            formatter: function () {
              return this.value+'%';
            }
          }
        }
      });
    })
  </script>
<% end %>
