<!-- Modal -->
<div class="modal fade" id="newAttemptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New attempt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([exercise, attempt], remote: true, id: "new_attempt_form") do |f| %>
          <%= f.error_notification %>

          <%= f.input :date %>
          <%= f.input :time_taken %>
          <%= f.input :comments %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.button :submit, "Save new attempt", class: "btn btn-primary", id: "new_attempt_form_submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('#new_attempt_form_submit').click(function(event) {
        event.preventDefault();
        // Form validation
      })
    });
  </script>
<% end %>

